PROVIDER="Your provider url (ex: infura link)"
CONTRACTADDRESS="Address of erc20 contract"
ADDRESS="address where you want to collect all transfers"
FROMBLOCK="block to strat scanning transfert"
DECIMALS="deciamals of erc20"
